
CodeWars/Properties/AssemblyInfo.cs
CodeWars/Program.cs
CodeWars/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CodeWars/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CodeWars/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CodeWars/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CodeWars/obj/Debug/CodeWars.pdb
CodeWars/obj/Debug/CodeWars.exe
CodeWars/obj/Debug/CodeWars.csprojAssemblyReference.cache
CodeWars/obj/Debug/CodeWars.csproj.FileListAbsolute.txt
CodeWars/obj/Debug/CodeWars.csproj.CoreCompileInputs.cache
CodeWars/CodeWars.csproj
CodeWars/bin/Debug/CodeWars.pdb
CodeWars/bin/Debug/CodeWars.exe.config
CodeWars/bin/Debug/CodeWars.exe
CodeWars/App.config
CodeWars.sln
.vs/CodeWars/v15/Server/sqlite3/storage.ide-wal
.vs/CodeWars/v15/Server/sqlite3/storage.ide-shm
.vs/CodeWars/v15/Server/sqlite3/storage.ide
.vs/CodeWars/v15/Server/sqlite3/db.lock
.vs/CodeWars/v15/.suo
